<div class="row">
    <div class="col-12">
        <h4>{{ question.question }}</h4>
        <div
            *ngFor="let answer of question.shuffled_answers; let first = first"
            class="row"
            [ngClass]="{ 'mt-1': !first} "
        >
            <div class="col-12">
                <button
                    class="btn"
                    [ngClass]="{
                        'btn-secondary': !question.isCorrect,
                        'btn-success': question.isCorrect && question.correct_answer === answer,
                        'btn-danger': question.isCorrect && question.correct_answer !== answer,
                    }"
                    (click)="selectAnswer(question, answer)"
                >
                    {{ answer }}
                </button>
            </div>
        </div>
        <div class="mt-3">
            <p *ngIf="question.isAnswered && question.isCorrect">Congratulations! You answered correctly.</p>
            <p *ngIf="question.isAnswered && !question.isCorrect">You are incorrect. Please try selecting a different answer.</p>
        </div>
        <div *ngIf="questions[questions.length - 1].isCorrect" class="d-grid gap-2 mt-3">
            <button *ngIf="questions.length !== totalQuestions" class="btn btn-dark" (click)="clickContinue()">Continue</button>
            <button *ngIf="questions.length === totalQuestions" class="btn btn-dark" (click)="clickComplete()">Complete Lesson</button>
        </div>
    </div>
</div>
