<div class="container">
  <div class="row">
    <div class="progress-bar" [style.width]="progress + '%'"></div>
  </div>
  <div class="row">
    <div *ngFor="let item of items" class="content-item">{{ item }}</div>
  </div>
  <div
    infinite-scroll
    [infiniteScrollDistance]="scrollDistance"
    [infiniteScrollUpDistance]="scrollUpDistance"
    [infiniteScrollThrottle]="throttle"
    (scrolled)="onScroll()"
  ></div>
  <div class="row">
    <button (click)="continue()">Continue</button>
  </div>
</div>

<router-outlet></router-outlet>
