<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Back arrow and branding/logo -->
  <a class="navbar-brand" href="#" (click)="goBack()">
    <span class="bi-arrow-left"></span>
  </a>

  <!-- Progress bar -->
  <div class="ms-auto">
    <div class="progress" style="width: 70%; height: 10px; margin-top: 8px;">
      <div class="progress-bar" role="progressbar" [style.width]="progress + '%'" aria-valuenow="progress" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
</nav>

<div class="container mt-3">

  <app-overview *ngIf="state === 'overview'" [title]="title" [content]="content" (continue)="continue()"></app-overview>

  <div
    infinite-scroll
    [infiniteScrollDistance]="scrollDistance"
    [infiniteScrollUpDistance]="scrollUpDistance"
    [infiniteScrollThrottle]="throttle"
    (scrolled)="onScroll()"
  ></div>

  <app-questions
    *ngIf="state === 'questions'"
    [questions]="questions"
    [totalQuestions]="totalQuestions"
    (continue)="continue()"
  ></app-questions>

</div>

<router-outlet></router-outlet>
