Here it is!

ABSTRACT:
{{parsed_content.get_abstract()}}

INTRODUCTION:
{{parsed_content.get_introduction()}}

CONCLUSION:
{{parsed_content.get_conclusion()}}

Please give an executive summary of the paper. Include the 1-5 topics where the paper is pushing the frontier.